$mobile: 529px;
$tablet: 768px;
$laptop: 1024px;
$desktop:1200px;


@mixin breakpoint($point){
    @if $point == mobile{
        @media only screen and (min-width:$mobile){@content;}
    }
     @else if $point == tablet{
        @media only screen and (min-width:$tablet){@content;}
    }
     @else if $point == laptop{
        @media only screen and (min-width:$laptop){@content;}
    }
     @else if $point == desktop{
        @media only screen and (min-width:$desktop){@content;}
    }
}

@mixin breakpoint-max($point){
    @if $point == mobile{
        @media only screen and (max-width:$mobile){@content;}
    }
     @else if $point == tablet{
        @media only screen and (max-width:$tablet){@content;}
    }
     @else if $point == laptop{
        @media only screen and (max-width:$laptop){@content;}
    }
     @else if $point == desktop{
        @media only screen and (max-width:$desktop){@content;}
    }
}
 



@mixin breakpoint-min-max($min-width,$max-width){
    @media screen and (min-width:$min-width) and (max-width:$max-width){ @content; }
}