@use "../abstracts" as *;

/****************************************************************
                        Flexbox Grid Layout CSS Styles
*****************************************************************/


@include media (tablet){
    .flex{
        width:100%;
    }
}

@include media-max(laptop){
    .flex{
        width:100%;
    }
}

@include media-min-max(529px,768px){
    .flex{
        width:100%;
    }
}


